<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Mon 27th</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Introductions and Setup</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Project Introduction and Virtual Environments (1.1, 1.2)</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Integrated Software Development Environments and Git (1.3, 1.4)</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Python Coding Conventions and Linters (1.5, 1.6)</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Tue 28th</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Software Requirements (3.1)</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Managing a Collaborative Software Project (5.1)</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Automatic Testing, and Scaling up Unit Tests (2.1, 2.2)</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Continuous Integration for Testing, and Diagnosing Issues (2.3, 2.4)</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Wed 29th</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Software Architecture and Design (3.2)</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Programming Paradigms, and Functional Programming (3.3, 3.4)</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Object Orientated Programming (3.5)</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Software Architecture Revisited (3.6)</td> </tr>
      <tr> <td>15:30</td>  <td>Course Project Planning</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Thur 30th</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Developing Software in a Team (4.1)</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Code Review (4.1)</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Preparing Software for reuse and release (4.2)</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Packaging Code (4.3)</td> </tr>
      <tr> <td>15:30</td>  <td>Personal Project Time</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
<!--      <tr> <td>End</td> <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>  -->
      <!-- </tr> -->
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Fri 31st</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Assessing Software Suitability (5.2)</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Feedback and Software Improvement (5.3)</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Personal Project Time</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Personal Project Time</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>

</div>
